<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Image Download Page</h1>
    <nav>
        <a href="/">Home Page</a>
        <a href="/greet/User">Greet</a>
        <a href="/about">About</a>
        <a href="/image">Download Image</a>
    </nav>

    <form action="/image/download-image" method="POST">
        <input type="hidden" name="image" value="image.jpg">
        <button type="submit">Download the image</button>
    </form>
</body>
</html>
